* {
    box-sizing: border-box;
}

body {
    background: #fff;
    font-family: "Noto Sans", sans-serif;
    color: #444;
    font-size: 14px;
    margin: 10px 10px 10px 10px;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}

td[id^="@"] {
    background: #e6e6e6;
    text-align: center;
    width: 3%;
}

#row0 {
    background: #e6e6e6;
    text-align: center;
}

td, th {
    border: 1px solid #dddddd;
    padding: 8px 0px 8px 0px;
}

td.ui-selected {
    background-color: #f7f7f7;
    /*        border-width: 2px;
            border-color: #aaaaaa;*/
}

td.ui-selecting {
    background-color: #f7f7f7;
}

div.ui-selectable-helper {
    border-style: solid;
    border-color: #454545;
}

/*input {
    border: 0;
    width: 100%;
    margin: -8px -8px -8px 0px;
    padding: 10px 8px 8px 8px;
}*/

td:hover, input:hover {
    background-color: #eee;
}

input:focus {
    background-color: #e6faff;
}

.cell-content {
    border: 1px solid #e6e6e6;
    background: #e6e6e6;
    display: grid;
    padding: 10px;
    grid-template-columns: 50px auto;
}

.cell-content div {
    border: 1px solid #cdcdcd;
    background: #fff;
    display: flex;
    align-items: center;
}

.cell-content div:nth-child(1) {
    justify-content: center;
    color: #999;
    font: italic 700 18px "Merriweather", serif;
    border-right: none;
    height: 40px;
}

.cell-content div#fx {
    padding-left: 6px;
}

.simplecolorpicker span.color {
    font-family: none;
}

td.ui-selected {
    opacity: 0.8;
}

td.selection {
    border-color: #003eff;
}

/*      td[class*="range-"] {
        border: 2px solid #003eff;
      }*/

td.range-top {
    border-top: 2px solid #003eff;
}

td.range-left {
    border-left: 2px solid #003eff;
}

td.range-right {
    border-right: 2px solid #003eff;
}

td.range-bottom {
    border-bottom: 2px solid #003eff;
}

td.range-all {
    border: 2px solid #003eff;
}